<div class="mt-4">

      <div class="alert alert-info animate__animated animate__fadeIn" role="alert">
        <h4 class="alert-heading ">Bienvenidos!</h4>
        <p>Damos la bienvenida a nustra herramienta de procesamiento matematico online. El sitio se encuentra en constante desarrollo, pero al dia de hoy las siguientes operaciones se encuentran implementadas: </p>
        


        <p>Adicionalmente, se planea seguir complementando el sitio con otras operaciones, que actualmente se encuentran en desarrollo.</p> 
        <p>Cualquier consulta, duda o inconveniente, pueden escribirnos a los correos disponibles en la seccion de "Creadores".</p>

        <ul class="list-group col-12">
            <li class="list-group-item list-group-item-action list-group-item-success text-center">
                 
                - Resolucion de ecuaciones diferenciales de primer orden mediante Laplace
            </li>
            <li class="list-group-item list-group-item-action list-group-item-success text-center">
                - Resolucion de ecuaciones diferenciales de segundo orden mediante Laplace
             
            </li> 
          </ul>

        <hr>
        <p>Desde ya muchas gracias.</p>
        <p class="text-right">Grupo de desarrolladores de MatematicasEspeciales.com.ar</p>
      </div>


</div>