<div class="mt-4">

      <div class="alert alert-info animate__animated animate__fadeIn" role="alert">
        <h4 class="alert-heading ">Bienvenidos!</h4>
        <p>Damos la bienvenida a nuestra herramienta de procesamiento matemático online. El sitio se encuentra en constante desarrollo, pero al día de hoy las operaciones mencionadas a continuación se encuentran disponibles: </p>
        
        <ul class="list-group col-12">
          <li class="list-group-item  list-group-item-success text-center">
               
              - Resolución de ecuaciones diferenciales de primer orden y segundo orden mediante Laplace
          </li>
          <li class="list-group-item  list-group-item-success text-center">
            - Cálculo de determinantes complejos de dimensión 2 y 3.
         
          </li> 
          <li class="list-group-item  list-group-item-success text-center">
            - Operaciones de suma, resta, multiplicación y división de números complejos.
         
          </li>     
        </ul>

       
        <p>Cualquier consulta, duda o inconveniente, pueden escribirnos a los correos disponibles en la seccion de "Creadores".</p>

        

        <hr>
        <p>Desde ya muchas gracias.</p>
        <p class="text-right">Grupo de desarrolladores de MatematicasEspeciales.com.ar</p>
      </div>


</div>