<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><i class="fad fa-function"></i> Matematicas Especiales</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="inicio">Inicio</a>
        </li>
 
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLinkActive="true">
            Operar
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="calculadoraDeComplejos">Calculadora</a>
            <a class="dropdown-item" routerLink="primerOrden">Ec. Dif. 1er Orden</a>
            <a class="dropdown-item" routerLink="segundoOrden">Ec. Dif. 2do Orden</a>
           <!--  <a class="dropdown-item" href="#">Calculadora</a> -->
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="creadores">Creadores</a>
        </li>
      </ul>
    </div>
  </nav>